.containerTitle{
    background-color: #1AB693;
    padding:0!important;
    margin:0!important;
    display: flex;
    justify-content: center;
    align-items: center;
    P{
        color: #fff;
        margin-top:10px;
        font-size:1.2em;
    }
}
.formulario{
    margin-top:20px;
}
.container-fluid{
    padding:0!important;
}
.form-group{
    margin-bottom:15px!important;
}
label{
    font-size:.8em;
    font-weight: 400;
    text-align: right!important;
    float: right;
    color:#a6a9b6;
}
.form-control{
    option{
        color:#045762;
    }
}
.error-message{
    color:red;
    font-size:.8em;
}
.container-fluid{
    padding:0 10px;
}