<div style='width: 1000px;'>
    <div class='containerTitle'>
        Nuevo Incidente
    </div>
    <div class='container-fluid formulario'>
        <div class="form">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Tipo de solicitud:</label>
                            </div>
                            <div class='col-9'>
                                <input type="text" class='form-control'>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Impacto:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Estado:</label>
                            </div>
                            <div class='col-9'>
                                <input type="text" class='form-control'>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Urgencia:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Tecnico:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Prioridad:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Categoria de servicio:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Categoria:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Fecha de vencimiento:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Subcategoria:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Hora de ultima actualizacion:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Creado por:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Adjuntar documento:</label>
                            </div>
                            <div class="col-9">
                                <input type="file" class='form-control'>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Asunto:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">SLA:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Fecha de creacion:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Hora de vencimiento:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label for="">Descripcion:</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                    <button class='btn btn-info btn-block' (click)='saveInicident()'>Agregar Solicitud</button>
                </div>
                <div class="col">
                    <button class='btn btn-light btn-block' (click)='closeModal()'>Cancelar</button>
                </div>
            </div>
         </div>
    </div>
</div>
