.containerTitle{
    background-color: #1AB693;
    color: #000;
    padding:0!important;
    margin:0!important;
}
.formulario{
    margin-top:20px;
}
.container-fluid{
    padding:0!important;
}
.form-group{
    margin-bottom:15px!important;
}
label{
    font-size:.8em;
    font-weight: 400;
    text-align: right!important;
    float: right;
}