<div style='width: 900px;'>
    <div class='containerTitle'>
        Nuevo Incidente
    </div>
    <div class='container-fluid formulario'>
        <div class="form">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Tipo de solicitud:</label>
                            </div>
                            <div class='col-9'>
                                <input type="text" class='form-control'>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Impacto</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Estado:</label>
                            </div>
                            <div class='col-9'>
                                <input type="text" class='form-control'>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Urgencia</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Urgencia</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
