<div style='width: 1000px;'>
    <div class='containerTitle'>
        Nuevo Incidente
    </div>
    <div class='container-fluid formulario'>
        <form [formGroup]="incidenteForm" (ngSubmit)="saveInicident()" >
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Tipo de solicitud:</label>
                            </div>
                            <div class='col-9'>
                                <select type="text" class='form-control'
                                        formControlName="type" 
                                       >
                                    <option value="null">Seleccionar tipo de solicitud</option>
                                    <option value="incidente">Incidente</option>
                                    <option value="requeimientoinfo">Requerimiento de info</option>
                                    <option value="requirimientoservicio">Requerimiento de servicio</option>
                                </select>
                                <ng-container *ngIf="!type.valid && type.touched">
                                    <p *ngIf="type.errors.required" class="error-message">
                                      Es necesario llenar este campo
                                    </p>
                                  </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Impacto:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'
                                        formControlName="impact">
                                    <option value="null">Selecciona  Impacto</option>
                                    <option value="abierta">Afecta negocio</option>
                                    <option value="abierta">Afecta Departamento</option>
                                    <option value="abierta">Afecta Grupo</option>
                                    <option value="abierta">Afecta a usuario</option>
                                </select>
                                <ng-container *ngIf="!impact.valid && impact.touched">
                                    <p *ngIf="impact.errors.required" class="error-message">
                                      Es necesario llenar este campo
                                    </p>
                                  </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Modo:</label>
                            </div>
                            <div class='col-9'>
                                <select type="text" class='form-control'
                                        formControlName="mode">
                                    <option value="null">Seleccionar modo</option>
                                    <option value="incidente">Email</option>
                                    <option value="requeimientoinfo">Telefono</option>
                                    <option value="requirimientoservicio">Formulario web</option>
                                </select>
                                <ng-container *ngIf="!mode.valid && mode.touched">
                                    <p *ngIf="mode.errors.required" class="error-message">
                                      Es necesario llenar este campo
                                    </p>
                                  </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Nombre solicitante:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'
                                        formControlName="solicitante">
                                    <option value="null">Selecciona  solicitante</option>
                                    <option [ngValue]="u" *ngFor='let u of usuarios'>{{u.nombres}} {{u.apellido_p}}</option>
                                </select>
                                <ng-container *ngIf="!solicitante.valid && solicitante.touched">
                                    <p *ngIf="solicitante.errors.required" class="error-message">
                                      Es necesario llenar este campo
                                    </p>
                                  </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Estado:</label>
                            </div>
                            <div class='col-9'>
                                <select type="text" class='form-control'
                                        formControlName="state">
                                    <option value="null">Selecciona estado</option>
                                    <option value="abierta">Abierta</option>
                                    <option value="cerrada">Cerrada</option>
                                    <option value="cancelada">Cancelada</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Urgencia:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'
                                        formControlName="urgency">
                                    <option value="null">Selecciona Urgencia</option>
                                    <option value="abierta">Alta</option>
                                    <option value="abierta">Baja</option>
                                    <option value="abierta">Normal</option>
                                    <option value="abierta">Urgente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Tecnico:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'
                                        formControlName="tecnic"
                                        [(ngModel)]="tecnico">
                                    <option value="null">Selecciona Tecnico</option>
                                <option [ngValue]="t" *ngFor='let t of tecnicos' >{{t.nombres}} {{t.apellidop}}</option>
                                </select>
                                <ng-container *ngIf="!tecnic.valid && tecnic.touched">
                                    <p *ngIf="tecnic.errors.required" class="error-message">
                                      Es necesario llenar este campo
                                    </p>
                                    <p *ngIf="tecnic.errors.minlength" class="error-message">
                                      Ingresa como mínimo 5 letras
                                    </p>
                                  </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Prioridad:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'
                                        formControlName="priority">
                                    <option value="null">Selecciona prioridad</option>
                                    <option value="alta">Alta</option>
                                    <option value="baja">Baja</option>
                                    <option value="normal">Normal</option>
                                    <option value="urgente">Urgente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Categoria de servicio:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Categoria:</label>
                            </div>
                            <div class="col-9">
                                <select type=text class='form-control'
                                        formControlName="category">
                                <option value="null">Selecciona Categoria</option>
                                <option [ngValue]="c" *ngFor='let c of categorias'>{{c.id}} </option>
                               </select>
                               <ng-container *ngIf="!category.valid && category.touched">
                                <p *ngIf="category.errors.required" class="error-message">
                                  Es necesario llenar este campo
                                </p>
                                <p *ngIf="category.errors.minlength" class="error-message">
                                  Ingresa como mínimo 5 letras
                                </p>
                              </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Fecha de vencimiento:</label>
                            </div>
                            <div class="col-9">
                                <input type="date" class='form-control' formControlName="datend">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Subcategoria:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'
                                        formControlName="subcategory">
                                    <option value="Selecciona subcategoria"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Hora de ultima actualizacion:</label>
                            </div>
                            <div class="col-9">
                                <input type="hour" class='form-control'
                                        formControlName="hour">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                     <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">SLA:</label>
                            </div>
                            <div class="col-9">
                                <select type="text" class='form-control'>
                                    <option disabled value="null">selecciona hora</option>
                                    <option value="1">1 hora</option>
                                    <option value="2">2 horas</option>
                                    <option value="3">3 horas</option>
                                    <option value="4">4 horas</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Adjuntar documento:</label>
                            </div>
                            <div class="col-9">
                                <input type="file" class='form-control' 
                                        formControlName="document">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Asunto:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class='form-control'
                                        formControlName="affair">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Fecha de creacion:</label>
                            </div>
                            <div class="col-9">
                                <input type="date" class='form-control'
                                formControlName="hourCreate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Hora de vencimiento:</label>
                            </div>
                            <div class="col-9">
                                <input type="time" class='form-control'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label for="">Descripcion:</label>
                            </div>
                            <div class="col-10">
                                <textarea type="text" class='form-control'
                                formControlName="description"></textarea>
                            </div>
                            <ng-container *ngIf="!description.valid && description.touched">
                                <p *ngIf="description.errors.required" class="error-message">
                                  Es necesario llenar este campo
                                </p>
                                <p *ngIf="description.errors.minlength" class="error-message">
                                  Ingresa como mínimo 5 letras
                                </p>
                              </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                </div>
                <div class="col">
                    <button class='btn btn-info btn-block' [disabled]="!incidenteForm.validate" type='submit'>Crear Incidencia</button>
                </div>
                <div class="col">
                    <button class='btn btn-light btn-block' (click)='closeModal()'>Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
