#loginform{
    margin-top:25vh!important;
}
h2{
    text-align: center;
    color: rgb(9, 116, 158);
    font-weight: 500;
    margin-top: 20px;
}
.spinnerClass{
    width:70px;
    margin-left:calc(50% - 35px);
    margin-top:30px;
}