<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="nav-divider"></li>
         <!--  <ul>
            <li><a [routerLink]="['/citaspendientes']">Citas de hoy</a></li>
            <li><a [routerLink]="['/citas']">Citas Completadas</a></li>
          </ul> -->
          <div class="col">
              <button class='btn btn-success btn-block'>
                  soluciones
              </button>
          </div>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  