<app-cabecera></app-cabecera>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row">
        
            <div class="col-lg-4">
                <div class="containerGraficaPeso">
                    <h3 class="center top">Total de Incidencias</h3>
                    <div style="display: block">
                      <canvas baseChart
                              width="350" height="320"
                              [datasets]="barChartDataPeso"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [colors]="barChartColorsPeso"
                              [chartType]="lineChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)">
                        </canvas>
                  </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="containerGraficaPeso">
                    <h3 class="center top">Incidencias Catergorizadas</h3>
                    <div style="display: block">
                      <canvas baseChart
                              width="350" height="320"
                              [datasets]="barChartDataPeso"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [colors]="barChartColorsPeso"
                              [chartType]="lineChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)">
                        </canvas>
                  </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="containerGraficaPeso">
                    <h3 class="center top">Incidencias reabiertas</h3>
                    <div style="display: block">
                      <canvas baseChart
                              width="350" height="320"
                              [datasets]="barChartDataPeso"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [colors]="barChartColorsPeso"
                              [chartType]="lineChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)">
                        </canvas>
                  </div>
                  </div>
            </div>

            <div class="col-lg-12 containerDias">
                <div class="containerGraficaday">
                    <h3 class="center top">Gráfica de avance diario</h3>
                    <div style="display: block">
                      <canvas baseChart
                              width="350" height="200"
                              [datasets]="barChartDataPeso"
                              [labels]="barChartLabelsDays"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [colors]="barChartColorsPeso"
                              [chartType]="lineChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)">
                        </canvas>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</div>
