<app-cabecera></app-cabecera>
<app-sidebar></app-sidebar>
<div class="page-wrapper" style="height:100vh!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 m-t-20">
              <div class="row">
                <div class="col-lg-3">
                  <div class="card bg-info text-white">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="stats">
                          <h1 class="text-white">23</h1>
                          <h6 class="text-white">Total de tickets</h6>
                          <!-- <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
                            (click)="goToCitasPendientes()">Revisar</button> -->
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class="icon-people display-5 op-3 text-dark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card bg-primary text-white">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="stats">
                          <h1 class="text-white">20</h1>
                          <h6 class="text-white">Tickets categorizados</h6>
                          <!-- <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14"
                            (click)="goToCitas()">Revisar</button> -->
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class=" icon-badge display-5 op-3 text-dark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card bg-success text-white">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="stats">
                          <h1 class="text-white">3</h1>
                          <h6 class="text-white">Tickets resueltos</h6>
                          <!-- <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Revisar</button> -->
                        </div>
                        <div class="stats-icon text-right ml-auto"><i class="icon-eyeglass display-5 op-3 text-dark"></i>
                        </div>
                      </div>
                    </div>
                  </div>
        
                </div>
                <div class="col-lg-3">
                    <div class="card bg-dark text-white">
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="stats">
                            <h1 class="text-white">20</h1>
                            <h6 class="text-white">Tickets pendientes</h6>
                            <!-- <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Revisar</button> -->
                          </div>
                          <div class="stats-icon text-right ml-auto"><i class="icon-eyeglass display-5 op-3 text-dark"></i>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
              </div>
            </div>
            <div class="col-lg-8"></div>
        
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <p class='titulo'>ID</p>
            </div>
            <div class="col-2">
                <p class='titulo'>MENSAJE</p>
            </div>
            <div class="col-2">
                <p class='titulo'>REQUERIDO POR</p>
            </div>
            <div class="col-2">
                <p class='titulo'>ASIGNADO A</p>
            </div>
            <div class="col-2">
                <p class='titulo'>CATEGORIZADO</p>
            </div>
            <div class="col-1">
                <p class='titulo'>FECHA</p>
            </div>
            <div class="col-1">
                <p class='titulo'>HORA</p>
            </div>
            <div class="col-1">
                <p class='titulo'>STATUS</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <mat-accordion class="example-headers-align" multi *ngIf='incidencias'>
                  <div class='card cardissue' *ngFor='let i of incidencias'>
                        <div class='card-body'>
                          <div class="row">
                            <div class="col-1">
                              <p class='tituloUno'>ID</p>
                          </div>
                          <div class="col-2">
                              <p class='tituloUno'>{{i.data.message | slice:0:20}}...</p>
                          </div>
                          <div class="col-2">
                              <p class='tituloUno'>REQUERIDO POR</p>
                          </div>
                          <div class="col-2">
                              <p class='tituloUno'>{{i.data.tecnic}}</p>
                          </div>
                          <div class="col-2">
                              <p class='tituloUno'>{{i.data.category}}</p>
                          </div>
                          <div class="col-1">
                              <p class='tituloUno'>{{i.data.date.seconds}}</p>
                          </div>
                          <div class="col-1">
                              <p class='tituloUno'>{{i.data.hour}}</p>
                          </div>
                          <div class="col-1">
                              <p class='tituloUno'>{{i.data.status}}</p>
                          </div>
                          </div>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Personal data
                                </mat-panel-title>
                                <mat-panel-description>
                                  Type your name and age
                                  <mat-icon>account_circle</mat-icon>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                            </mat-expansion-panel>        
                        </div>
                    </div>
                </mat-accordion>
    
            </div>
        </div>
    </div>
</div>